html,
body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.Stops {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.Stop {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.Routes {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.Route {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}
